%fx-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

%fx-cl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

%reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
